.card6{
    height: 42vh;
    width: 58vw;
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-left: 15px;
    grid-row: 3;
    grid-column: 2;
    position: relative;
    top: 1;
    background: rgb(255,255,255,0.2);
    background-image: url('/images/bgS1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(255,255,255,0.2); */
    box-shadow: 1px 1px 2px 1px  rgba(5,120,255,.3),1px 1px 2px 1px rgba(238,174,202,.3);
}
.card6 .precipitationBar{
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    height: 8vh;
    width:13vw ;
    padding: 8px;
    border-radius: 30px;
    background-color: rgb(255,255, 255,0.2);
}
.card6 .line{
    height: 5px;
    width: 10vw;
    border: none;
    border-radius: 30px;
    margin: 5px 0 5px 8px;
    background: linear-gradient(to right,rgb(255, 81, 135),rgb(62, 205, 224),rgb(29, 111, 242),rgb(255, 198, 45));
}


.card6 > .buttons{
   height: 40vh;
   background:transparent;
   width: 4vw;
   display:flex;
   flex-direction: column;
   justify-content:space-evenly;
    align-items: center;
   
   color: #fff;
   font-size: larger;
   position: absolute;
   right: 10px;
   bottom: 1px;
}
.card6 .buttons article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    background-color:rgb(255,255,255,0.2) ;
    box-shadow:inset 2px 2px 2px 2px rgb(255,255,255,0.2),1px 1px 1px 1px rgb(255,255,255,0.8);
}
.card6 .buttons article button{
    background: transparent;
    outline: none;
    border: none;
}
.card6 .buttons .b_out{
    height: 40px;
    width: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color:rgb(255,255,255,0.2) ;
    box-shadow:inset 2px 2px 2px 2px rgb(255,255,255,0.2),1px 1px 1px 1px rgb(255,255,255,0.8);
}
.card6 .buttons .b_out:hover,.card6 .buttons article:hover{
    background-color: rgb(29, 111, 242,0.4);
    box-shadow:inset 2px 2px 2px 2px rgb(62, 205, 224,0.1),1px 1px 1px 1px rgb(255, 198, 45,0.2);
    transition: all linear 200ms;
}
.cardsCity{
    height: 12vh;
    width: 25vw;
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: flex;
    padding: 5px;
    font-size: x-small;
    
    /* background: #000; */
}
.cardsCity > div{
    height:10vh;
    width: 6vw;
    background-color: rgb(255,255, 255,0.2);
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:inset 2px 2px 2px 2px rgb(255,255,255,0.2),1px 1px 1px 1px rgb(255,255,255,0.8);
}
.cardsCity > i{
    font-size: larger;
    color: rgb(255,255, 255,1);
}





.card5{
    max-height: fit-content;
    width: 58vw;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    color: #fff;
}
.card5 select {
    outline: none;
    background-color: rgb(255,255,255,0.2);
    width: 8vw;
    height: 30px;
    border: none;
    border-radius: 30px;
    text-align: center;
}
.card5 select option button{
    color: black;
}
